#root{
border:solid .5px;
margin:auto;
}
#pie{
border:solid .5px;
margin:auto;
}

#bar{
border:solid .5px;
margin:auto;
}

#bubble{
border:solid .5px;
margin:auto;
}

#radViz{
border:solid .5px;
margin:auto;
}

/* define more CSS styles here */